.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card {
  align-items: center;
  box-shadow: black 0px 3px 0px 1px;
  mat-card-header {
    text-align: center;
  }

}



.game-container {
  border: 1px solid #000;
  margin: 20px 0;
  position: relative;
}

.game-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  background-color: rgba(#2f37cc, .9);
  box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.9) 0px 0px 20px 2px inset;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  background-color: #2f37cc;
  height: 30px;
  width: 30px;
  border: 1px solid #000;
  cursor: pointer;

  &:hover {
    background-color: rgba(#2f37cc, .7);
  }

  &.active {
    background-color: #dee203;
  }

  &.clicked {
    background-color: #2e8b57;
  }


  &.not-clicked {
    background-color: #c03030;
  }
}

mat-card-actions {
  margin: 30px 0;
  transition: all .3s;
}

.mat-mdc-outlined-button.mat-invite {
  border: 3px solid #000;
  background: #2e8b57;
  padding: 20px 40px;
}
