<div class="page-wrapper">

  <h1>{{ "COMPARUS TEST | Stepanov" | uppercase }}</h1>

  <mat-card class="card">

    <mat-card-header>

      <mat-card-title>Play and win!</mat-card-title>
      <mat-card-subtitle>(or lose)</mat-card-subtitle>

    </mat-card-header>

    <mat-card-content>

      <app-scoreboard [player]="playerScore" [comp]="compScore"></app-scoreboard>

      <div class="game-container">

        <div class="row" *ngFor="let item of elements">
          <div
            appCell
            [lifetime]="time.value"
            (isClicked)="onIsClicked($event)"
            class="cell"
            *ngFor="let item of elements">
          </div>
        </div>

        <div class="game-menu" *ngIf="!isInGame">

          <mat-form-field color="accent">
            <mat-label>Enter time</mat-label>
            <input [formControl]="time" matInput #input placeholder="Enter miliseconds">
            <mat-hint>In miliseconds</mat-hint>
            <mat-error *ngIf="time.invalid">Numbers only</mat-error>
          </mat-form-field>

          <button (click)="onStart()" mat-stroked-button color="invite">{{'Start' | uppercase}}</button>

        </div>

      </div>

    </mat-card-content>

    <mat-card-actions [ngStyle]="{'opacity': isAfterGame ?'1': '0' }">
      <button (click)="onReload()" mat-stroked-button color="invite">{{'One more Time' | uppercase}}</button>
    </mat-card-actions>

  </mat-card>
  
</div>
