/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'DHF Story Brush';
  src: url(../src/assets/fonts/DHF-Story-Brush.woff2) format('woff2');
}


html, body { height: 100%; }
body {
  background-color: #616161;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography h1 {
  font-weight: 500;
    letter-spacing: 3px;
    font-size: 30px;
    margin-bottom: 40px;
}
